@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::selection {
  @apply bg-amber-600 text-white;
}

body {
  @apply bg-slate-900 text-slate-100;
}
button {
  @apply cursor-pointer;
}
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}
@keyframes pulse-slower {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.15);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}
.animate-pulse-slower {
  animation: pulse-slower 12s ease-in-out infinite;
}
